PORT="9000"
JWT_SECRET="your-secret-key"
CLOUDINARY_CLOUD_NAME=dfflta8zl
CLOUDINARY_API_KEY=544335423294645
CLOUDINARY_API_SECRET=7LCN0g9qcEaM489juhGBuNsMI4w
NODE_ENV=development
ZIBAL_MERCHANT_ID=zibal
ZIBAL_REQUEST_API_URL=https://gateway.zibal.ir/v1/request
ZIBAL_VERIFY_API_URL=https://gateway.zibal.ir/v1/verify
FRONTEND_URL=http://localhost:3000
DATABASE_URL_DRIZZLE=postgresql://postgres:admin@localhost:5432/ecommerce
REDIS_URL=redis://localhost:6379
REVALIDATE_SECRET=change-me-to-a-long-random-string